@import url('https://fonts.googleapis.com/css2?family=Oi&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
#about h2, #library h2, #gallery h2, #contact-section h1, #breed-cards h2{
    cursor: pointer;
    font-size: 3rem;
    text-align:center;
    margin-bottom: 2rem;
    font-weight: lighter;
    font-family: 'Impact', sans-serif;
    letter-spacing: 5px;

}

/* NAVIGATION BAR */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ff6b6b;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
    max-height: 50px;
}

.nav-left, .nav-right {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-left li, .nav-right li {
    display: inline;
}

.nav-right li {
    margin-right: 1rem;
}

.nav-right li:last-child {
    margin-right: 0;
}

.nav-right li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 0.5rem 0;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.nav-right li a:hover,
.nav-right li a:focus {
    color: white;
    transform: scale(1.2);
}

.nav-right li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease, right 0.3s ease;
}

.nav-right li a:hover::after,
.nav-right li a:focus::after {
    width: 100%;
    right: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo img {
    max-height: 50px;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.hamburger div {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease;
}

.hamburger div:nth-child(1) {
    top: 0;
}

.hamburger div:nth-child(2) {
    top: 10px;
}

.hamburger div:nth-child(3) {
    top: 20px;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

#nav-links ul {
    display: flex;
    list-style-type: none;
}

#nav-links ul li {
    margin-right: 20px;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.intro-message {
    z-index: 1;
    max-width: 650px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s;
}

.intro-message h3 {
    font-size: 1.5rem;
    color: rgb(255, 107, 107);
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

.intro-message h1 {
    font-size: 3.5rem;
    color: #515151;
    font-family: 'Oi', sans-serif;
    font-weight: lighter;
    margin: 0.5rem 0;
    text-transform: uppercase;
    text-shadow: -10px 5px 5px rgba(51, 51, 51, 0.2); /* Bottom shadow */
    letter-spacing: 2px;
}

.intro-message p {
    text-align:justify;
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.intro-message .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #ff6b6b;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 25px 0 25px 0;
    transition: background-color 0.3s ease;
}

.btn {
    background: #ff6b6b;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    scale:calc(1.05);
    background: #ff4747;
}

.pet-image {
    max-width: 600px;
}

.cta{
    background: #ff6b6b;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

/*ABOUT CSS*/

#about {
    padding: 3rem 10rem;
    height: auto;
    background-color: #f4dddd; /* Add a soft background color for the section */
}

#about h2 {
    text-align: center;

    color: white;
    margin-bottom: 2rem;
    text-shadow: 0 0 5px rgba(0,0,0, 0.3);

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#about .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff; /* White background for the individual card */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s; /* Add smooth transition on hover */
}

#about .grid-item:hover, #intro .intro-message:hover  {
    transform: translateY(-10px); /* Slight lift effect on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

#about .grid-item img {
    max-width: 250px; /* Limit image size */
    height: auto;
    border-radius: 10px;
}

#about .grid-item p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

#about .grid-item p span {
    font-weight: bold;
    color: #ff6b6b; /* Accent color for names */
}

#about .grid-item p em {
    font-style: italic;
    color: #555; /* Slightly darker color for emphasis */
}

/* Individual sections (indiv-1 and indiv-2) */
.indiv-1, .indiv-2 {
    margin-bottom: 3rem; /* Space between individual sections */
}

/* Reverse layout for indiv-2 (RTL) */
.indiv-2 .grid-container {
    direction: rtl; /* Make the content reverse in this section */
}

.indiv-2 .grid-item {
    direction: ltr; /* Reset direction for individual item */
}


/* LIBRARY CSS */


.card-container.hidden {
    opacity: 0;
    pointer-events: none;
}

#library {
    text-align: center;
    padding: 5rem 5rem;
    height: auto;
}

#library h2, #breed-cards h2{
    color:#ff6b6b
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.card {
    background-color: #ff6b6b;
    border-radius: 20px;
    cursor: pointer;
    width: 280px;
    height: 350px;
    transition: background-color 0.3s, transform 0.3s; 
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: groove;
}

.card:hover {
    background-color: #ffffff;
    transform: scale(1.05);

}

.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    margin-bottom: 0.5rem;
    transition: opacity 0.3s;
}

.card-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; 
}

.card:hover .card-img-hover {
    opacity: 1;
}

.card p {
    position: absolute;
    bottom: 10px;
    left: 53%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    max-width: 280px;
    z-index: 2; 
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    font-size: 1.2rem; 
    text-transform: uppercase;
    font-family: 'impact';
    letter-spacing: 2px;   
}

.background {
    background-color: #ff6b6b;
    height: 50px;
    width: 95%; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; 
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}




/* Modal Styling */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.modal-content {
    position: relative;
    margin: 2rem auto;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: -2;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close:hover {
    transform: scale(1.2);
}

/* Modal Grid Layout */
.modal-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

/* Background Image Styling */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
    overflow: hidden; 
}

.background-image img {
    border-radius: 15px 15px 0 0;
    display: block;
    width: 100%;    
    height: 50%;  
    object-fit: cover; 
    object-position: center; 
}


/* Breed Image Styling */
.breed-image {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    width: 250px; 
    height: 250px; 
}

.breed-image img {
    max-width: auto;
    border-radius: 10px;
    object-fit: cover;
    width: 250px; 
    height: 250px;
}

/* Breed Info Styling */
.breed-info {
    margin-top: 10rem;
    text-align: left;
    color: #333;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    
    width: auto;
    height: 250px;
}

.breed-info h2 {
    font-size: 2rem;
    color: rgb(255, 107, 107);
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'Impact', sans-serif;
}

.breed-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 0;
    font-weight: 400;
}

#breed-card-container {
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap to new lines */
    justify-content: center; /* Align cards in the center */
    gap: 2rem; /* Maintain the same gap between cards */
    transition: opacity 0.5s ease-in-out;
}

#breed-cards {
    display: none;
    text-align: center;
    height: auto;
    padding: 5rem 4rem;
    position: relative; 
}

#breed-cards h2 {
    margin-bottom: 2rem;
}

#breed-cards .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 5rem;
    text-decoration: none; 
}

#breed-cards .btn:hover {
    background-color: #ff4b4b;
}

#category-nav {
    margin-bottom: 2rem;
}

#category-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#category-nav li {
    display: inline;
}

#category-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

#category-nav a:hover {
    color: #ff6b6b; /* Change text color to a soft pink */
    transform: translateY(-5px); /* Slight lift effect */
}

#category-nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff6b6b;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

#category-nav a:hover::after {
    width: 100%;
    transform: scale(1.3);
}



footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}

footer a {
    color: #ff6b6b;
}



/* CONTACT CSS */

#contact-section {
    position: relative;
    z-index: 1;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contact-section .contact-content {
    max-width: 600px;
    animation: fadeIn 1.5s ease;
}

#contact-section h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 20px;
    color: #ff6b6b;
    text-shadow: 0 0 5px rgba(255, 110, 0, 0.2);
}

#contact-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.8;
    color: #555;
}

#contact-section .btn {
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #ff6b6b;
    transition: 0.3s ease;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    color: #ff6b6b;
    text-transform: uppercase;
}

#contact-section .btn:hover {
    background-color: #fa5353;
    color: white;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

.modal-content2 {
    background: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

.modal-content2 .close {
    color: #ff6b6b;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content2 .close:hover {
    color: #333;
}

.modal-content2 form label {
    display: block;
    font-size: 14px;
    margin: 15px 0 5px;
    color: #555;
}

.modal-content2 form input, .modal-content2 form textarea, .modal-content2 form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
}

.modal-content2 form button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-content2 form button:hover {
    background-color: #fc4c4c;
}